h1 video

video(id='home_video', class='video-js vjs-default-skin', width='640', height='264', preload='none', poster='http://video-js.zencoder.com/oceans-clip.jpg', controls)
  source(src='http://video-js.zencoder.com/oceans-clip.mp4', type='video/mp4')
  source(src='http://video-js.zencoder.com/oceans-clip.webm', type='video/webm')